<div style="height:88vh">
    <div style="width: 50%; margin: 0 auto; padding-top: 5%;" class="div-card" fxLayout fxLayoutAlign="center" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayout.gt-md="row">
        <mat-card>
            <mat-card-title>
                <h1>Prime Small</h1>
            </mat-card-title>
            <mat-card-content>
                <p>Minutes & Text: Unlimited</p>
                <p>Data: 3GB</p>
                <p>Monthly: 10$</p>
            </mat-card-content>
            <mat-card-actions >
                <div fxLayout fxLayoutAlign="center" *ngIf="isUserLoggedIn">
                    <button *ngIf="!this.userSubs.subscriptions.includes('Prime Small')" mat-raised-button  color="primary" typue="submit" (click)="buySub('Prime Small')">Buy</button>
                    <button *ngIf="this.userSubs.subscriptions.includes('Prime Small')" mat-raised-button  color="warn" typue="submit" (click)="unSub('Prime Small')">Unsubscribe</button>
                </div>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-title>
                <h1>Prime Medium</h1>
            </mat-card-title>
            <mat-card-content>
                <p>Minutes & Text: Unlimited</p>
                <p>Data: 20GB</p>
                <p>Monthly: 25$</p>        
            </mat-card-content>
            <mat-card-actions >
                <div fxLayout fxLayoutAlign="center" *ngIf="isUserLoggedIn">
                    <button *ngIf="!this.userSubs.subscriptions.includes('Prime Medium')" mat-raised-button  color="primary" typue="submit" (click)="buySub('Prime Medium')">Buy</button>
                    <button *ngIf="this.userSubs.subscriptions.includes('Prime Medium')" mat-raised-button  color="warn" typue="submit" (click)="unSub('Prime Medium')">Unsubscribe</button>
                </div>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-title>
                <h1>Prime Max</h1>
            </mat-card-title>
            <mat-card-content>
                <p>Minutes & Text: Unlimited</p>
                <p>Data: Unlimited</p>
                <p>Monthly: 40$</p>        
            </mat-card-content>
            <mat-card-actions>
                <div fxLayout fxLayoutAlign="center" *ngIf="isUserLoggedIn">
                    <button *ngIf="!this.userSubs.subscriptions.includes('Prime Max')" mat-raised-button  color="primary" typue="submit" (click)="buySub('Prime Max')">Buy</button>
                    <button *ngIf="this.userSubs.subscriptions.includes('Prime Max')" mat-raised-button  color="warn" typue="submit" (click)="unSub('Prime Max')">Unsubscribe</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
    
</div>
