<div class="main_component div-flex">
    
    <mat-card class="div-flex">
        <mat-card-header>
            <mat-card-title><h1>Welcome to the best mobile operator!</h1></mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <div fxLayout fxLayoutAlign="center">
                <button mat-raised-button  routerLink="/subscription" color="primary" typue="submit">Go to the Mobile Subscriptions</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>